#*virtualenv
cid/
__pycache__/
*.pyc
*.pyo

#*large files
*.dylib
*.so
*.dll
*.bin
*.h5
*.ckpt

#Include Docker files&datasets
!docker-compose.yml
!main-app/Dockerfile
!new-data/Dockerfile
!new-data/datasets/

#Ignore temp or system files
.DS_Store
*.log
*.tmp

#JupyterNotebook checkpoints
.ipynb_checkpoints/
.env
